[submodule "rime-data/others/rime-minecraft-dict"]
	path = rime-data/others/rime-minecraft-dict
	url = https://github.com/Kimiblock/rime-minecraft-dict.git
	shallow = true
[submodule "rime-data/others/rime-ice"]
	path = rime-data/others/rime-ice
	url = https://github.com/iDvel/rime-ice.git
	shallow = true
[submodule "rime-data/others/rime-essay-simp"]
	path = rime-data/others/rime-essay-simp
	url = https://github.com/rime/rime-essay-simp.git
	shallow = true
[submodule "rime-data/others/trans"]
	path = rime-data/others/trans
	url = https://github.com/project-trans/rime-dict
[submodule "rime-data/others/rime-resident-evil"]
	path = rime-data/others/rime-resident-evil
	url = https://github.com/Kimiblock/rime-resident-evil.git
[submodule "rime-data/others/wanxiang"]
	path = rime-data/others/wanxiang
	url = https://github.com/amzxyz/rime_wanxiang.git
